<div class="row" *ngFor="let specialist of specialists">
  <div class="col-md-1"></div>
  <div class="col-md-4 box">
    <div>
      <div class="floatLeft"><img src="assets\personPlaceholder.jpg"></div>
      <div class="main-info">
        <div>{{specialist.firstName}} {{specialist.lastName}}</div>
        <div>Ginekolog</div>
      </div>
    </div>

    <div class="standard-info">
      Adres: ul. 
      <br />
      Konsultacja ginekologiczna 180 zł
    </div>

    <p>
      <button type="button" class="btn btn-primary">Umów wizytę</button>
    </p>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-5 box">
    KALENDARZ
    <p>
      <button type="button" class="btn btn-primary">Zobacz pełny kalendarz</button>
    </p>
  </div>
  <div class="col-md-1"></div>
</div>



