<div class="row" *ngFor="let specialist of specialists">
  <div class="col-md-1"></div>
  <div class="col-md-4 box">
    <div>
      <div class="floatLeft"><img src="assets\personPlaceholder.jpg"></div>
      <div class="main-info">
        <div>{{specialist.firstName}} {{specialist.lastName}}</div>
        <div *ngFor="let specialization of specialist.specializations">
        {{specialization.name}}
        </div>
      </div>
    </div>

    <div class="standard-info" *ngFor ="let localization of specialist.localizations">
      Adres: {{localization.streetName}} {{localization.streetNumber}}
      <br />
      {{localization.zipCode}} {{localization.city}}
    </div>
    <div *ngFor="let service of specialist.services">
      {{service.name}}
    </div>

    <p>
      <button type="button" class="btn btn-primary">Umów wizytę</button>
    </p>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-5 box">
    KALENDARZ
    <p>
      <button type="button" class="btn btn-primary">Zobacz pełny kalendarz</button>
    </p>
  </div>
  <div class="col-md-1"></div>
</div>



